apsw==3.16.2.post1
asn1crypto==0.22.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
chardet==3.0.4
CherryPy==3.5.0
cryptography==1.9
cssselect==1.0.1
cssutils==1.0
cycler==0.10.0
decorator==4.1.1
dnspython==1.15.0
enum34==1.1.6
feedparser==5.1.3
futures==3.1.1
gyp==0.1
html5-parser==0.4.3
html5lib==0.999999999
idna==2.5
ipaddress==1.0.17
ipykernel==4.6.1
ipython==5.1.0
ipython-genutils==0.2.0
jupyter-client==5.1.0
jupyter-core==4.3.0
keyring==10.4.0
keyrings.alt==2.2
lxml==4.0.0
Markdown==2.6.9
matplotlib==2.1.0
mechanize==0.2.5
mercurial==4.3.1
msgpack-python==0.4.8
netifaces==0.10.4
numpy==1.13.3
olefile==0.44
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.14
pycrypto==2.6.1
PyGeodesy==17.5.1
Pygments==2.2.0
pygobject==3.24.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
regex==2017.1.17
repoze.lru==0.6
Routes==2.4.1
scandir==1.5
scour==0.32
SecretStorage==2.3.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tornado==4.5.1
traitlets==4.3.2
unity-lens-photos==1.0
uTidylib==0.3
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5
WebOb==1.7.2
